
@{
    ViewBag.Title = null;

}
<!Doc
@using (Html.BeginForm())
{
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-2">
                <h3>Login</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="txtUserName" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="txtPassword" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>

            </div>
        </div>
    </div>
}


